<h1>Sistema de Formulários com PostgreSQL</h1>

<ul>
  <li><a href="/forms/person">Cadastro de Pessoa</a></li>
  <li><a href="/forms/request">Nova Solicitação</a></li>
  <li><a href="/records/person">Ver Cadastros de Pessoa</a></li>
  <li><a href="/records/request">Ver Solicitações</a></li>
</ul>