<link rel="stylesheet" href="/css/style.css">

<h1>Sistema de Formulários Para Cadastro de Pesquisadores</h1>

{{#if loggedIn}}
  <section>
    <h2>Pesquisadores</h2>
    <ul>
      <li><a href="/researchers/new">Cadastrar pesquisador</a></li>
      <li><a href="/researchers">Meus pesquisadores</a></li>
    </ul>
  </section>

  <section>
    <h2>Solicitações</h2>
    <ul>
      <li><a href="/records/request">Minhas solicitações</a></li>
    </ul>
  </section>

  <h2>Sair</h2>
  <p><a href="/auth/logout" class="btn-danger">Sair</a></p>
{{else}}
  <section>
    <h2>Faça login para acessar o sistema</h2>
    <ul>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Criar conta</a></li>
    </ul>
  </section>
{{/if}}
