<link rel="stylesheet" href="/css/style.css">

<h2>Nova Solicitação</h2>

{{#if researcher}}
  <p><strong>Pesquisador:</strong> {{researcher.nome}}</p>
{{/if}}

<form action="{{action}}" method="post">
  <label>Assunto:</label>
  <input type="text" name="assunto" required>
  <br><br>

  <label>Descrição:</label>
  <input type="text" name="descricao" required>
  <br><br>

  <label>Data:</label>
  <input type="date" name="data">
  <br><br>

  <button type="submit">Enviar</button>
</form>

<br>
{{#if researcher}}
  <a href="/researchers/{{researcher.id}}">Voltar</a>
{{else}}
  <a href="/">Voltar</a>
{{/if}}
